body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.resume {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #a9afff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
}

hr {
    margin: 20px 0;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}
